<% if (locals.success_msg && locals.success_msg.length > 0) { %>
    <% locals.success_msg.forEach(function(msg) { %>
        <div class="flash-message flash-success">
            <%= msg %>
        </div>
    <% }); %>
<% } %>

<% if (locals.error_msg && locals.error_msg.length > 0) { %>
    <% locals.error_msg.forEach(function(msg) { %>
        <div class="flash-message flash-error">
            <%= msg %>
        </div>
    <% }); %>
<% } %>

<% if (locals.error && typeof locals.error === 'string' && locals.error.length > 0) { %>
    <div class="flash-message flash-error">
        <%= locals.error %>
    </div>
<% } else if (locals.error && Array.isArray(locals.error) && locals.error.length > 0) { %>
    <% locals.error.forEach(function(err) { %>
        <div class="flash-message flash-error">
            <%= (typeof err === 'object' && err.msg) ? err.msg : err %>
        </div>
    <% }); %>
<% } %>

<% if (locals.errors && Array.isArray(locals.errors) && locals.errors.length > 0) { %>
    <% errors.forEach(function(err) { %>
        <div class="flash-message flash-error">
            <%= (typeof err === 'object' && err.msg) ? err.msg : err %>
        </div>
    <% }); %>
<% } %>
