<%# This content will be injected into main-email-layout.ejs %>
<% locals.preheaderText = preheaderText || notificationTitle %> <%# Allow preheader to be passed or default to title %>

<h1 style="font-size: 22px; color: #0056b3; margin-bottom: 15px;"><%= notificationTitle %></h1>

<% if (locals.studentName) { %>
    <p>Hello <strong><%= studentName %></strong>,</p>
<% } %>

<div class="email-content-card" style="background-color: #fdfdfe; border-left: 4px solid #667eea;">
    <%- notificationMessage.replace(/\n/g, '<br>') %>
</div>

<% if (locals.actionLink && locals.actionText) { %>
    <p style="text-align: center; margin-top: 25px; margin-bottom: 25px;">
        <a href="<%= actionLink %>" class="button"><%= actionText %></a>
    </p>
<% } %>

<p style="margin-top: 25px;">
    If you have any questions, please don't hesitate to contact us.
</p>
<p>Best regards,<br>The Twoem Online Productions Team</p>
